@import 'normalize';
@import "settings";
@import "layout";

body{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;

  img{
    max-width: 100%;
  }

  main{
    margin: 0 auto;
    padding: 0 $general-padding;
    padding-top: $general-padding * 4;

    @include for-tablet-landscape{
      width: 90%;
      padding-left: 0;
      padding-right: 0;
    }

    @include for-laptop{
      width: 70%;
    }
  }
}