@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Roboto+Slab');

// fonts

$font-title: 'Quicksand', sans-serif;
$font-secundary: 'Roboto Slab', serif;

// colors

$grey: #d7d7d7;
$color-primary: #0c0c0c;
$white: #ffffff;

// utils

$general-padding: 20px;
$general-margin: 2rem;
$icon-size: 25px;

// breakpoints

$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-laptop: 1200px;