@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Roboto+Slab');

// fonts

$font-title: 'Quicksand', sans-serif;
$font-secundary: 'Roboto Slab', serif;

// colors

$grey: #d7d7d7;
$grey-dark: #8b8b8b;
$grey-dark-2: #afafaf;
$color-primary: #0c0c0c;
$white: #ffffff;
$red: #b8000c;

// utils

$general-padding: 25px;
$general-margin: 2rem;
$icon-size: 25px;
$profile-img-width: 50px;

// breakpoints

$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-laptop: 1200px;