<aside>
    <div>
        <h3><label for="filter">Search</label></h3>
        <input type="text" name="filter" id="filter">
    </div>
    <div>
        <h3>Categories</h3>
        <ul>
            <li>Last Articles</li>
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
            <li>Category 4</li>
        </ul>
    </div>
</aside>