<aside>
    <div>
        <h3><label for="filter">Buscar</label></h3>
        <input type="text" name="filter" id="filter">
    </div>
    <div>
        <h3>Categorías</h3>
        <ul>
            <li><a href="#">Últimos artículos</a></li>
            <li><a href="#">Populares</a></li>
            <li><a href="#">Tecnología</a></li>
            <li><a href="#">Ciencia</a></li>
            <li><a href="#">Deportes</a></li>
        </ul>
    </div>

    <div id="popular-articles">
        <h3>Populares</h3>
    </div>
</aside>