<header>
    <div id="title-header">
        <h1>Blog</h1>
        <a id="hamburguer" href="#"></a>
    </div>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Miembros</a></li>
            <li><a href="">Foro</a></li>
            <li><a href="">Login</a></li>
        </ul>
    </nav>
</header>