<header>
    <div id="title-header">
        <h1><a href="/">Blog</a></h1>
        <a id="hamburguer" href="#">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Miembros</a></li>
            <li><a href="">Foro</a></li>
            <li><a href="">Login</a></li>
        </ul>
    </nav>
</header>