<header>
    <div id="title-header">
        <h4>Music</h4>
        <a id="hamburguer" href="#"></a>
    </div>
    <nav>
        <ul>
            <li>Indie</li>
            <li>Pop</li>
            <li>Electrónica</li>
            <li>Rock</li>
        </ul>
    </nav>
</header>