<header>
    <div id="title-header">
        <h4>Music</h4>
        <a id="hamburguer" href="#"></a>
    </div>
    <nav>
        <ul>
            <li><a href="">Indie</a></li>
            <li><a href="">Pop</a></li>
            <li><a href="">Electrónica</a></li>
            <li><a href="">Rock</a></li>
        </ul>
    </nav>
</header>