@import "~styles/settings";
@import "~styles/layout";

header {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 500;
  background-color: $white;

  @include for-tablet-landscape {
    padding: 0 5%;
    box-sizing: border-box;
    border-bottom: 1px solid $grey;
  }

  @include for-laptop{
    padding: 0 15%;
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      li {
        text-decoration: none;
        padding: 0 $general-padding;
        display: none;

      }
      @include for-tablet-landscape {
        li {
          display: inline-block;
          vertical-align: middle;
        }
        display: block;
        text-align: right;
      }

    }
    @include for-tablet-landscape {
      flex: 0 0 70%;
    }
  }

  #hamburguer {
    img {
      width: $icon-size;
      height: $icon-size;
    }
    @include for-tablet-landscape {
      display: none;
    }
  }

  #title-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $general-padding/2;
    box-sizing: border-box;
    border-bottom: 1px solid $grey;

    @include for-tablet-landscape {
      flex: 0 0 25%;
      padding: 0;
      border-bottom: none;
    }
  }

  &.menu-open {
    flex-direction: column;
    border-bottom: 1px solid $grey;
    nav ul {
      flex-direction: column;
      padding: $general-padding/2 0;
      text-align: center;
      li {
        display: block;
        padding: $general-padding/3;
      }
    }
  }
}