<form id="comment-form">
    <div class="input-container">
        <label for="author">Nombre</label>
        <input type="text" id="author" name="author" class="comment-input" required>
    </div>
    <div class="input-container">
        <label for="lastname">Apellido</label>
        <input type="text" id="lastname" name="lastname" class="comment-input" required>
    </div>
    <div class="input-container">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="comment-input" required>
    </div>
    <div class="textarea-container">
        <label for="comment">Comentario</label>
        <textarea id="comment" name="comment" class="comment-input" required></textarea>
    </div>
    <input type="submit" value="Enviar Comentario">
</form>