<form id="comment-form">
    <div class="input-container">
        <label for="author">Autor</label>
        <input type="text" id="author" name="author">
    </div>
    <div class="input-container">
        <label for="comment">Comentario</label>
        <textarea id="comment" name="comment"></textarea>
    </div>
    <input type="submit" value="Enviar Comentario">
</form>